
body {
    margin: 0;
    padding: 0;
    font: 13px/18px 'trebuchet ms', Arial, sans-serif;
    background: #dcdcdc url('bobby_bg.png') repeat-x top;
                }

                #wrap {
                    -webkit-box-shadow: 0px 3px 15px #2b2b2b;
                    -moz-box-shadow: 0px 3px 15px #2b2b2b;
                    margin:0 5%;
                    min-width:960px;
}

#container,
#container2
{

    background: #FFF url('containger_bg.png') repeat-x top;
        }

        #banner
        {
            background:black url('top_bg.png') repeat-x top;
            border-bottom: 1px solid #333;
        }

        #topcontainer {
            background: #000 url('toptop_bg.png') repeat-x bottom;
            height:10px;
            border-top:#666 1px solid;
                }

                #banner h1
                {
                    margin: 0;
                    padding: 30px 5px 30px 20px;
                    color:white;
        }

        #subnav {
            margin:0;
            background:#4c4c4c;
            border-top:1px solid #666;
            border-bottom:2px solid #fff;
            padding: 4px 5px 4px 5px;
            color:#a9a9a9;
            height:20px;
                }

                #content
                {
                    padding-top: 1em;
                    margin: 0 2em 0 200px;
        }


        #footer
        {
            clear: both;
            background: #000 url('footer_bg.png') repeat-x top;
            padding: 1em;
            height:55px;
            margin:0px 0px 0px 0px;
            color:#f9f9f9;

        }

        pre {
            /* font & text */
            font-family: monospace;
            font-size: 12.7px;
            line-height: 14px;
            white-space: pre;

            /* color & background */
            background-color: #F9F9F9;
            background-position: 0% 0%;
            color: #000000;

            /* box */
            xheight: 14px;
            width: 95%;
            border: 1px dashed #2F6FAB;
            margin: 3px 0 13px 0;
            padding: 13px 13px 13px 13px;

            /* positioning */
            display: block;
}

.code {
    font-family: monospace;
}

#content img {
    margin:0px 0px 15px 15px;
}

a:link, a:visited {
    color:#800;
    text-decoration:none;
}

a:hover, a:active {
    text-decoration:underline;
}

h1, h2 {
    font-size:24px;
    margin-top:40px;
    margin-bottom:15px;
    font-weight:normal;
}

h1 {
    font-family:georgia, serif;
    color: #666877;
}



/* nav */
#left
{
    float: left;
    width: 160px;
    padding-left:0px;
        }


        #nav ul {
            width: 100%;
            margin:0;
            padding:0;
            background: url('navmenu_test.png') no-repeat top right;
            /* background-position: 150px 0px; */
            margin-top:30px;
}

#nav li {
    list-style:none;
    height:45px;
    background: url('nav_bgbottom.png') no-repeat -73px 44px; 
}

#nav ul li a { 
    color:black;
    text-decoration:none;
    padding-left:20px;
    line-height:45px;
    display:block;
    height:45px;}

#nav ul li a:hover {
    /* background:transparent url('leftnavselect_bg.png') right; */
    color:#4e4e4e;
    background-color: #dcdcdc;
    text-decoration:underline;
}

#nav a:active {
    color:#fff;
    background-color:#800;
    text-decoration:underline;
}



#subnav ul {
    margin:0;
    padding: 0;
    text-decoration:none;
}

#subnav li {
    list-style:none;
    text-decoration:none;
}

#subnav ul li a {
    display:block;
    color:#a9a9a9;
    text-decoration:none;
    float:right;
    padding:0px 12px 0px 12px;

}

#subnav ul li a:hover {
    color:white;
    text-decoration:none;
}
