<div id="footer">
<p>This site's content is available under the <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 License</a>.</p>
</div>
<a href="http://github.com/petdance/bobby-tables"><img
    src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"
    height="149" width="149"
    /></a>
