<div id="topcontainer">
    &nbsp;
</div>
<div id="container">
    <div id="banner">
        <h1><a href="http://bobby-tables.com/">Bobby Tables: A guide to preventing SQL injection</a></h1>
    </div>
</div>
