<!DOCTYPE html>
<html>
    <head>
        <title>
            bobby-tables.com: A guide to preventing SQL injection
            [% IF currlang %]
                in {currlang}
            [% END %]
        </title>
        <link rel="stylesheet" type="text/css" href="[% rel_static %]css/bobby.css" />
        <meta name="msvalidate.01" content="4EF6B7CF4E86418C29626DA5E8B28AF5" /><!-- Bing ownership -->
        <meta name="google-site-verification" content="-m0wCitNyeftzwJnFsHE2Z9PbGXrgh_ZiSmqiPKRKn0" />
        [% PROCESS 'google-analytics.html' %]
    </head>
    <body>
        <div id="wrap">
            [% PROCESS header.tt %]
            <div id="container2">
                [% PROCESS sidebar.tt %]
                <div id="content">
                    [% body %]
                </div>
                <div style="clear:both;"></div>
                [% PROCESS footer.tt %]
            </div>
        </div>
    </body>
</html>
