<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="[% rfc_1766_lang %]" lang="[% rfc_1766_lang %]">
    <head>
        <title>
            [% IF currlang %]
                [% |loc(currlang) %]bobby-tables.com: A guide to preventing SQL injection in {currlang}[% END %]
            [% ELSE %]
                [% |loc %]bobby-tables.com: A guide to preventing SQL injection[% END %]
            [% END %]
        </title>
        <link rel="stylesheet" type="text/css" href="[% rel_static %]css/bobby.css" />
        [% IF git %]<link rel="via" href="[% git %]" />[% END %]
    </head>
    <body>
        <div id="wrap">
            [% PROCESS header.tt %]
            <div id="container2">
                [% PROCESS sidebar.tt %]
                <div id="content">
                    [% body %]
                </div>
                <div style="clear:both;"></div>
                [% PROCESS footer.tt %]
            </div>
        </div>
        [% PROCESS 'google-analytics.html' %]
    </body>
</html>
