<div id="left">
    <div id="nav">
        <ul>
            [% FOR link IN sidelinks %]
                <li><a href="[% link.path %]">[% link.text %]</a></li>
            [% END %]
        </ul>
    </div>
</div>
