<div id="left">
    <div id="nav">
        <ul>
            [% FOR link IN sidelinks %]
                <li><a href="[% link.path %]"><span class="topic"
                    [% IF link.text == currlang %]
                        id="current"
                    [% END %]
                >[% link.text %]</span></a></li>
            [% END %]
        </ul>
    </div>
</div>
